<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Dan e Shurpi</title>
</head>

<body>
    <h1> BOM DIA SHURPI</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, autem inventore quod, cum ullam enim eaque
        adipisci cupiditate accusamus sit voluptatem, fuga perferendis dolorum! Vitae inventore tempore ipsam, facere
        aspernatur fugit repudiandae. Eligendi quisquam fugit quo illum nulla sint sed, unde maxime consequatur
        quibusdam et ipsam, fuga, necessitatibus in quam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, autem inventore quod, cum ullam enim eaque
        adipisci cupiditate accusamus sit voluptatem, fuga perferendis dolorum! Vitae inventore tempore ipsam, facere
        aspernatur fugit repudiandae. Eligendi quisquam fugit quo illum nulla sint sed, unde maxime consequatur
        quibusdam et ipsam, fuga, necessitatibus in quam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, autem inventore quod, cum ullam enim eaque
        adipisci cupiditate accusamus sit voluptatem, fuga perferendis dolorum! Vitae inventore tempore ipsam, facere
        aspernatur fugit repudiandae. Eligendi quisquam fugit quo illum nulla sint sed, unde maxime consequatur
        quibusdam et ipsam, fuga, necessitatibus in quam?</p>
</body>

</html>